$bgcolor :#171717;
$textcolor :#9D9D9D;
.water-pressure-container {
    background: $bgcolor;
    color: $textcolor;
    padding: 10px; // 热源厂查询条件
    .water-pressure-filter {
        padding: 20px 0px;
        select {
            background: $bgcolor;
            color: $textcolor;
            padding: 5px 8px 5px 8px;
            min-width: 150px;
            border: 1px solid $textcolor;
            outline: 0px;
            option {
                outline: 0px;
            }
        }
    } // 图表
    .water-pressure-chart {
        width: 100%;
        height: 500px;
    } // 时间选择器
    .water-pressure-timefilter {
        position: relative;
        overflow: hidden; // 日期框
        .water-pressure-timefilter-datepicker {
            float: left;
            width: 200px;
            height: 100px;
            .datetimepicker {
                background: $bgcolor;
                color: $textcolor;
                border: 1px solid $textcolor;
                padding: 8px 8px;
                margin-top: 10px;
                outline: 0px;
            }
        } // 按钮框
        .water-pressure-timefilter-toolbar {
            float: right;
            width: 200px;
            text-align: center;
            padding-top: 12px;
            button {
                background: $bgcolor;
                color: $textcolor;
                border: 1px solid $textcolor;
                border-radius: 2px;
                padding: 10px 15px;
                cursor: pointer;
                outline: 0px;
                &:hover {
                    background: #000;
                }
            }
        } // 时间条
        .water-pressure-timefilter-timebar {
            position: absolute;
            left: 200px;
            right: 200px;
            height: 100px;
            .time-bar {
                height: 55px;
                background: $bgcolor;
                overflow-x: auto;
                overflow-y: visible;
                .mCSB_scrollTools.mCSB_scrollTools_horizontal {
                    height: 12px;
                }
                .time-bar-rule {
                    position: relative;
                    height: 30px;
                    display: inline-block;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin: 10px 15px;
                    border: 2px solid #9D9D9D;
                    .long-pointer,
                    .short-pointer {
                        position: relative;
                        width: 7px;
                        height: 100%;
                        display: inline-block;
                        vertical-align: top;
                    }
                    .long-pointer {
                        &:before {
                            content: attr(timelabel);
                            font-family: Arial, Helvetica, sans-serif;
                            position: absolute;
                            top: -15px;
                            left: 3px;
                            color: #FFF;
                            font-size: 12px;
                            transform: translate(-50%, 0) scale(0.8);
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            width: 1px;
                            top: 0px;
                            left: 3px;
                            background: #9D9D9D;
                            height: 10px;
                        }
                    }
                    .short-pointer {
                        &:after {
                            position: absolute;
                            content: '';
                            width: 1px;
                            top: 0px;
                            left: 3px;
                            background: #9D9D9D;
                            height: 5px;
                        }
                    }
                    .time-bar-slider {
                        position: absolute;
                        top: 7px;
                        left: 1px;
                        width: 15px;
                        height: 16px;
                        background: #ccc;
                        border-radius: 10px;
                        z-index: 2;
                        cursor: pointer;
                        text-align: center;
                        color: #000;
                        font-size: 14px;
                        line-height: 16px;
                        -webkit-touch-callout: none;
                        /* iOS Safari */
                        -webkit-user-select: none;
                        /* Chrome/Safari/Opera */
                        -khtml-user-select: none;
                        /* Konqueror */
                        -moz-user-select: none;
                        /* Firefox */
                        -ms-user-select: none;
                        /* Internet Explorer/Edge */
                        user-select: none;
                        &:hover {
                            background: darken(#ccc, 10%);
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            left: 7px;
                            top: -7px;
                            width: 1px;
                            height: 7px;
                            background: darken(#ccc, 10%);
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            left: 7px;
                            bottom: -7px;
                            width: 1px;
                            height: 7px;
                            background: darken(#ccc, 10%);
                        }
                    }
                }
            }
        }
    }
}